<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Create new piazza</title>
</head>
<body>
    <header>
        <nav th:replace="~{fragments :: navbar('create')}"></nav>
    </header>

    <main>
        <div class="container">
            <h1>New pizza</h1>
            <form id="pizza-form" th:object="${pizza}" th:action="@{/pizzas/create}" method="post">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label" for="name">Name</label>
                                <input id="name" class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid">
                                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback mb-2">
                                    <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="description">Description</label>
                                <textarea id="description" class="form-control" type="text" th:field="*{description}" th:errorclass="is-invalid"></textarea>
                                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback mb-2">
                                    <span th:each="err : ${#fields.errors('description')}" th:text="${err}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="photo">Photo(URL)</label>
                                <input id="photo" class="form-control" type="text" th:field="*{photo}" th:errorclass="is-invalid">
                                <div th:if="${#fields.hasErrors('photo')}" class="invalid-feedback mb-2">
                                    <span th:each="err : ${#fields.errors('photo')}" th:text="${err}"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <label class="form-label" for="price">Price</label>
                                <input id="price" class="form-control" type="number" th:field="*{price}" th:errorclass="is-invalid">
                                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback mb-2">
                                    <span th:each="err : ${#fields.errors('price')}" th:text="${err}"></span>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a class="btn btn-danger" th:href="@{/pizzas}">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>