<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Pizzeria</title>
</head>
<body>
    <header>
        <nav th:replace="~{fragments :: navbar('pizzas')}"></nav>
    </header>

    <main class="mt-5">
        <div class="container">
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success alert-dismissable fade show">
                    <span th:text="${successMessage}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </th:block>
            <h1>Menu</h1>
            <hr>

            <div class="mb-3 mt-3 d-flex justify-content-between">
            <form method="get" th:action="@{/pizzas}">
                <div class="input-group">
                    <input class="form-control col-3" name="keyword" type="search" placeholder="search" aria-label="search">
                </div>
            </form>
            <div>
                <a class="btn btn-dark" th:href="@{/pizzas/create}">New pizza</a>
            </div>
            </div>
            <div class="row justify-content-between">
                <div th:each="item : ${pizzas}" class="col-sm-12 col-md-3 p-3 mb-5 border rounded-4">
                    <div class="text-center">
                        <img th:src="${item.photo}" th:alt="${item.name}">
                        <h5 th:text="${item.name}"></h5>
                    </div>
                    <div class="row justify-content-center gap-3">
                        <div class="col-3">
                            <a class="btn btn-primary" th:href="@{pizzas/show/{id}(id=${item.id})}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M272 112C272 85.5 293.5 64 320 64C346.5 64 368 85.5 368 112C368 138.5 346.5 160 320 160C293.5 160 272 138.5 272 112zM224 256C224 238.3 238.3 224 256 224L320 224C337.7 224 352 238.3 352 256L352 512L384 512C401.7 512 416 526.3 416 544C416 561.7 401.7 576 384 576L256 576C238.3 576 224 561.7 224 544C224 526.3 238.3 512 256 512L288 512L288 288L256 288C238.3 288 224 273.7 224 256z"/></svg>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary" th:href="@{pizzas/edit/{id}(id=${item.id})}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M100.4 417.2C104.5 402.6 112.2 389.3 123 378.5L304.2 197.3L338.1 163.4C354.7 180 389.4 214.7 442.1 267.4L476 301.3L442.1 335.2L260.9 516.4C250.2 527.1 236.8 534.9 222.2 539L94.4 574.6C86.1 576.9 77.1 574.6 71 568.4C64.9 562.2 62.6 553.3 64.9 545L100.4 417.2zM156 413.5C151.6 418.2 148.4 423.9 146.7 430.1L122.6 517L209.5 492.9C215.9 491.1 221.7 487.8 226.5 483.2L155.9 413.5zM510 267.4C493.4 250.8 458.7 216.1 406 163.4L372 129.5C398.5 103 413.4 88.1 416.9 84.6C430.4 71 448.8 63.4 468 63.4C487.2 63.4 505.6 71 519.1 84.6L554.8 120.3C568.4 133.9 576 152.3 576 171.4C576 190.5 568.4 209 554.8 222.5C551.3 226 536.4 240.9 509.9 267.4z"/></svg>
                            </a>
                        </div>
                        <div class="col-3">
                            <form th:action="@{/pizzas/delete/{id}(id=${item.id})}" method="post">
                                <button 
                                class="btn btn-primary" 
                                type="submit" 
                                id="buttonDelete"
                                onclick="return confirm('Are you sure? ')">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M232.7 69.9L224 96L128 96C110.3 96 96 110.3 96 128C96 145.7 110.3 160 128 160L512 160C529.7 160 544 145.7 544 128C544 110.3 529.7 96 512 96L416 96L407.3 69.9C402.9 56.8 390.7 48 376.9 48L263.1 48C249.3 48 237.1 56.8 232.7 69.9zM512 208L128 208L149.1 531.1C150.7 556.4 171.7 576 197 576L443 576C468.3 576 489.3 556.4 490.9 531.1L512 208z"/></svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${pizzas.size() == 0}">
                <p>pizza not found</p>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>